Tuples
- Tuples are ordered sequence of mixed data types
-Tuples are written in comma separated elements within parenthesis

In [2]:
t = (1,2, 3,4)
print(type(t))

<class 'tuple'>

In [3]:
t1 = ("hello", 5, 5.5)
print(type(t1))
print(len(t1))

<class 'tuple'>
3

List inside tuple, a tuple can also have tuple as an element inside it

In [9]:
t2 = ("hello", 3, [1, 4])
print(type(t2[2][-1]))

<class 'int'>

In [5]:
t3 = (1, 2, 3, (4, 5,))
print(t3)

(1, 2, 3, (4, 5))

In [10]:
# Important point 
t4 = 1.2,
print(type(t4))

<class 'tuple'>

Indexing in Tuple

In [11]:
t = ("Mumbai", 10 , "Python", 100)
len(t)

4

In [12]:
t[2:]

('Python', 100)

Concatenation of Tuples

In [14]:
tup1 = ("Hello!")
tup2 = ("My name is Deepak")
tup = tup1+tup2
tup

'Hello!My name is Deepak'

Min , Max and Sum functions

In [15]:
tup = (10, 10, 11.5)
print(sum(tup))
print(max(tup))
print(min(tup))

31.5
11.5
10

Immutability -  cannot change the elements in tuples

In [16]:
#How to update the 2nd and 3rd element
t = ("Hello", "Welcome", 5, 10 , "world")
new_tuple=t[0:2]+t[-1:]
print(new_tuple)

('Hello', 'Welcome', 'world')

Sorting of tuple

In [17]:
t = (2, 5 , 1, 6, 3)
new_var = sorted(t)
print(new_var)
print(type(new_var))

[1, 2, 3, 5, 6]
<class 'list'>

In [18]:
new_list = sorted(t)
new_list

[1, 2, 3, 5, 6]

In [20]:
t2 = tuple(new_list)
t2

(1, 2, 3, 5, 6)

In [21]:
#question
t = (1,2, 3, 5)
t[4]

IndexError: tuple index out of range