Sets
- Sets are type of collection like lists , tuples storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets does not allow duplicates

In [2]:
l6 = [ 1, 2, 2, 3, 4,5, 6,6 ,7, 8, 9, 8]
len(l6)

12

In [4]:
set1 = set(l6)
len(set1)

9

In [5]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
set2={1, 2.3, 5 ,6}
set2.add("india")
print(set2)

{1, 2.3, 5, 6, 'india'}

In [7]:
set2.remove(2.3)
print(set2)

{1, 5, 6, 'india'}

Set Operations

In [9]:
A = {0,2,4,6,8}
B={1,2,3,4,5,7,9}

In [11]:
#Union
print(A|B)
print(A.union(B))
print(len(A.union(B)))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
10

In [12]:
#Intersection
print(A&B)
print(A.intersection(B))
print(len(A&B))

{2, 4}
{2, 4}
2

In [17]:
#Difference
print(A-B)
print(A.difference(B))

{3, 4, 5, 6}
{3, 4, 5, 6}

In [13]:
#Symmetric Difference 
print(A^B)

{0, 1, 3, 5, 6, 7, 8, 9}

In [15]:
#Question 
A=[5,1,3,4,4,5,6,7]
B=[3,3,5,5,1,7,2]
A1=set(A)
print(A1)
B1=set(B)
print(B1)
common = sorted(A1&B1)
print(common)

{1, 3, 4, 5, 6, 7}
{1, 2, 3, 5, 7}
[1, 3, 5, 7]

In [16]:
#Question
A = {1,2,3,4,5,6}
B={0,1,2,10,11}
d1 = (A.union(B))
d2 = (A.intersection(B))
d = d1 - d2
print(d)

{0, 3, 4, 5, 6, 10, 11}