Dictionary
- Dictionary stores elements as keys and value pairs
- The key is like an index, it always unique & immutable
- The values are the objects that contain information
- Values are accessed using their keys
- Each key is followed by a value separated by colon
- The values can be immutable , mutable and duplicates
- Each key and value pair is separated by a comma enclosed inside curly brackets

In [3]:
#Creating a dictionary and accessing value using keys
d1 = {"India": "INR", "USA": "USD", "Hong Kong":"HKD"}
print(d1["India"])
print(len(d1))

INR
3

In [6]:
#Replacing the value for a key in a dictionary
d1["Hong Kong"]="HK$"
d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HK$'}

In [7]:
#Inserting a new key value pair
d1["Japan"]="YEN"
d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HK$', 'Japan': 'YEN'}

In [8]:
#Deleting a key value pair
del d1["USA"]
d1

{'India': 'INR', 'Hong Kong': 'HK$', 'Japan': 'YEN'}

In [9]:
#Sorting
sorted(d1)

['Hong Kong', 'India', 'Japan']

In [10]:
#values method
d1.values()

dict_values(['INR', 'HK$', 'YEN'])

In [11]:
#keys() method
d1.keys()

dict_keys(['India', 'Hong Kong', 'Japan'])

In [16]:
#get() method
d1.get("India")

'INR'

In [18]:
#update() method
d1.update({"India": "Rs"})
d1

{'India': 'Rs', 'Hong Kong': 'HK$', 'Japan': 'YEN'}

In [ ]:
#Question
key - emp id  , value - name , age and profession

In [20]:
Employee_data = {101:["Shiva", 50,"HR"], 102:["Vivek",30, "Architect"], 103:["Pavan", 29, "DOctor"], 104:["Veeresh", 33 , "Cyber Dept. Head" ]}
Employee_data

{101: ['Shiva', 50, 'HR'],
 102: ['Vivek', 30, 'Architect'],
 103: ['Pavan', 29, 'DOctor'],
 104: ['Veeresh', 33, 'Cyber Dept. Head']}

In [21]:
Employee_data[104][2]

'Cyber Dept. Head'

In [22]:
#Question 2
dict_1 = {"Python":40, "R":45}
del dict_1["R"]
dict_1

{'Python': 40}

In [23]:
d = {"Python":40, "R":45}
print(list(d.keys()))

['Python', 'R']

In [24]:
input_dict = {"Name": "Monty", "Profession":"Singer"}

In [25]:
input_dict["Label"]="NA"

In [26]:
input_dict = {"Name": "Monty", "Profession":"Singer"}
if "Label" in input_dict.keys():
    print(input_dict["Label"])
else:
    print("NA")

NA

In [27]:
#Q5
input_dic = {"Jack Dorsey": "Twitter", "Tim Cook":"Apple", "Jeff Bezos":"Amazon", "Ambani":"JIO"}
sorted(input_dic.values())

['Amazon', 'Apple', 'JIO', 'Twitter']