Loops & Iterations

Check whether a number is even or odd

In [1]:
x = 101
if x%2 == 0:
    print(x, "is an even number")
else:
    print(x, "is an odd number")

101 is an odd number

In [4]:
x1 = int(input("Enter your number: "))
if x1%2 == 0:
    print(x1, "is an even number")
else:
    print(x1, "is an odd number")

69 is an odd number

Allow greater than 18 and less than 50 years of age

In [7]:
x2 = int(input("Enter your age: "))
if x2>18 and x2<50:
    print("You can enter")
else:
    print("Your not eligible")

Your not eligible

Program to provide discounts/offers

In [2]:
shop_amount= int(input("Input your billed amount: "))
if shop_amount >= 5000:
    print("You have won a vouher of 1000$")
elif shop_amount >= 2500:
    print("You have won a voucher of 500$")
else:
    print("Thank you for visiting us")

You have won a voucher of 500$

Iterations

In [3]:
##Iterate over a list of integers
l1 = [10,20,30,40,50]
for i in l1:
    print(i)

10
20
30
40
50

In [5]:
#Iterate over the string
s1 = "A", "P","D","S"
for i in s1:
    print(i)

A
P
D
S

In [6]:
s2 = "Deepak"
for i in s2:
    print(i)

D
e
e
p
a
k

In [9]:
#Iterate over a dictionary - keys
student_data = {1:["Deepak",19], 2:["Vivek",17],3:["Pavan",17]}
for i in student_data:
    print(i)

1
2
3

In [ ]:
#Iterate over a dictionary 
student_data = {1:["Deepak",19], 2:["Vivek",17],3:["Pavan",17]}
for i in student_data.items():
    print(i)

(1, ['Deepak', 19])
(2, ['Vivek', 17])
(3, ['Pavan', 17])

In [11]:
#Iterate over a dictionary 
student_data = {1:["Deepak",19], 2:["Vivek",17],3:["Pavan",17]}
for i,j in student_data.items():
    print(j)

['Deepak', 19]
['Vivek', 17]
['Pavan', 17]

In [12]:
#Iterate over a range of values
for i in range(1,5):
    print(i)

1
2
3
4

Comphresion

In [13]:
l2 = ["Automobiles", "Honda","benz","kia"]
l3=[len(i) for i in l2]
print(l3)

[11, 5, 4, 3]

In [14]:
l2 = ["Automobiles", "Honda","benz","kia"]
l3=[i for i in l2]
print(l3)

['Automobiles', 'Honda', 'benz', 'kia']