Map, Reduce , Filter

Area of a circle

In [4]:
import math
def area(n):
    return math.pi * n * n
radii = [1,2,3,4,5]
areas = []
for r in radii:
    a = area(r)
    areas.append(a)
print(areas)

[3.141592653589793, 12.566370614359172, 28.274333882308138, 50.26548245743669, 78.53981633974483]

In [5]:
##map(f, iterable)
map(area, radii)
list(map(area, radii))

[3.141592653589793,
 12.566370614359172,
 28.274333882308138,
 50.26548245743669,
 78.53981633974483]

Convert Celcius scale to farheneit
F = 9/5*C + 32

In [6]:
temps = [("Mumbai", 35), ("Delhi", 30), ("Bangalore", 25)]
cel_to_f = lambda data: (data[0], 9/5 * data[1] + 32)
map(cel_to_f, temps)

In [7]:
list(map(cel_to_f, temps))

[('Mumbai', 95.0), ('Delhi', 86.0), ('Bangalore', 77.0)]

Filter function - filters out the data

filter(f, data)

In [8]:
import statistics
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
avg = statistics.mean(data)
print(avg)

5.5

In [9]:
filter(lambda x: x > avg, data)

In [10]:
list(filter(lambda x: x > avg, data))

[6, 7, 8, 9, 10]

In [11]:
filter(lambda x: x > 10, areas)

In [12]:
list(filter(lambda x: x> 10, areas))

[12.566370614359172, 28.274333882308138, 50.26548245743669, 78.53981633974483]

Getting rid of NULL values

In [13]:
name = ["Deepak", "Apex", 0 , 0.0, "Boss"]
filter(None, name)
list(filter(None, name))

['Deepak', 'Apex', 'Boss']

Reduce Function

reduce (f,data)

In [14]:
from functools import reduce

In [15]:
data = [1, 2, 3, 4, 5]
multiply = lambda x, y: x * y
reduce(multiply, data)

120

In [16]:
data = [1, 2, 3, 4, 5]
reduce(lambda x, y: x + y, data)

15